.header{
    display: flex;
    justify-content: center;
    width: 100%;
    /* max-width: 1340px; */
    background-color: white;
    /* border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px; */
    margin-right: auto;
    margin-left: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.menu{
    padding: 0 36px;
    font-size: 16px;
    font-weight: 500;
}
.menu:hover{
    color: gray;
}