.App {
  padding-top: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
}


